<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>
    <form id="sign-up">
        <fieldset>
            <legend>sign up</legend>
            <label for="user-name">your name</label>
            <input type="text" id="user-name" name="user-name" required><br>

            <label for="user-email">your email</label>
            <input type="text" id="user-email" name="user-email" required><br>

            <label for="user-password">your password</label>
            <input type="password" id="user-password" name="user-password" required><br>

            <button type="submit">sign in</button>
        </fieldset>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/src/public/js/sign-up.js"></script>
</body>

</html>